body {
  margin-top: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: #e6e4d9;
  background-image: url("images/pattern.png");
}

#mainheader {
  background-color: #a593c2;
  box-shadow: 0px 3px 15px;
}

button {
  outline: none;
  border: none;
  background: #a593c2;
  color: white;
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
}

img {
  border-radius: 1%;
}

/************
Nav-bar
*************/

nav {
  height: 60px;
  width: 1000px;
  margin: 0 auto 20px;
}

nav button {
  background: #24cfa6;
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav > ul > li {
  float: left;
}

nav > ul > li.right {
  float: right;
  padding: 10px 0px;
}

nav > ul > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px 22px 16px;
  text-decoration: none;
  font-weight: bold;
}
nav > ul > li > a:hover {
  color: #7b5ea9;
  background: white;
  font-size: 18px;
}
nav input {
  box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  padding: 14px 12px 12px 12px;
  width: 200px;
  border-radius: 5px;
}

/************
Page Layout
*************/
#leftmenu {
  float: left;
  width: 30%;
  margin-bottom: 20px;
}

#main {
  float: right;
  width: 70%;
  margin-bottom: 20px;
}

/************
Footer
*************/
footer {
  clear: both;
  width: 100%;
}

/************
Cards
*************/

div.cards {
  display: flex;
  flex-wrap: wrap;
}

div.card {
  background-color: transparent;
  border: 1px solid gray;
  margin-bottom: 50px;
  height: 535px;
  width: 700px;
  perspective: 1000px;
}

div.card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 1s;
}
div.card-front,
div.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

div.card-front {
  background: #e6e4d9;
}
div.card-back {
  background-color: #24cfa6;
  color: white;
  transform: rotateY(180deg);
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

div.card.active {
  box-shadow: 5px 5px 15px 10px #7b5ea9;
}

div.card a {
  text-decoration: none;
  color: unset;
}

div.card h1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

div.card img {
  width: 100%;
}

div.card .image {
  padding: 10px 10px 0px 10px;
}

div.card .content {
  padding: 10px 10px 0px 10px;
  background: #f8f4f1;
  margin-top: 4px;
  border-top: 1px solid lightgray;
  padding: 4px 10px 4px 10px;
}

div.card .description {
  font-style: italic;
}

div.card .footer {
  font-size: 14px;
  font-weight: bold;
  color: gray;
  background: #f8f4f1;
  padding: 4px 10px 4px 10px;
}

div.card ul {
  list-style-type: none;
  text-align: left;
}
div.card ol {
  text-align: left;
}

div.card ol > li {
  padding-bottom: 8px;
}

div.card .ingredients {
  display: flex;
}

/************
Aside
*************/
aside > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

aside > ul > li {
  padding: 8px;
  margin-bottom: 2px;
  margin-right: 8px;
  background: #24cfa6;
  color: white;
}

aside > ul > li a {
  text-decoration: none;
  color: inherit;
  display: flex;
  justify-content: space-between;
}

aside > ul > li span {
  opacity: 0;
  padding-right: 60%;
}

aside > ul > li:hover {
  background: white;
  color: #24cfa6;
  transition: 0.5s;
}

aside > ul > li:hover span {
  opacity: 1;
  transition: opacity 2s, padding-right 5s 2s;
  padding-right: 0%;
  font-weight: bold;
  color: #a593c2;
}
.logo.load {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: translate(150%, 50%) scale(0.75) rotate(0deg);
  }

  50% {
    transform: translate(150%, 50%) scale(1.1) rotate(360deg);
  }

  100% {
    transform: translate(150%, 50%) scale(0.75) rotate(0deg);
  }
}
